.app__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;

    img {
        width: 6.5rem;
        height: auto;
        margin-top: 25px;
    }

    a {
        text-decoration: none;
        padding: 12px 30px;
        border: none;
        background-color: #0156A4;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 25px;
    }

    @media screen and (max-width: 768px) {
        width: 90%;
    }
}